.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/modules.xml

.idea/copyright/profiles_settings.xml

.idea/runConfigurations.xml

390mb.iml

app/app.iml

app/app.iml

.idea/compiler.xml

.idea/gradle.xml

.idea/misc.xml

app/app.iml
